{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="card text-center">
            <div class="card-header">
                <h1 class="card-title">{{ session.title }}</h1>
                <p class="card-subtitle mb-2 text-muted">Trainer: {{ session.trainer }}</p>
            </div>
            <div class="card-body">
                <p class="card-text">{{ session.about }}</p>
                <p class="card-text">Date: {{ session.date }}</p>
                <p class="card-text">Time: {{ session.start_time }} - {{ session.end_time }}</p>
                <p class="card-text">Location: {{ session.location }}</p>
                <p class="card-text">Availability: {{ session.number_attending }} / {{ session.capacity }}</p>
                <a href="#" class="btn btn-primary">Book {{ session.title }}</a>
                <strong>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'session_attend' session.slug %}" method="POST">
                        {% csrf_token %}
                        {% if attending %}

                        <button type="submit" value="{{session.slug}}"><i class="fa-solid fa-circle-check"></i></button>

                        {% else %}

                        <button type="submit" value="{{session.slug}}"><i
                                class="fa-regular fa-circle-check"></i></button>

                        {% endif %}
                    </form>
                    {% endif %}
                </strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card text-center ">
            <h3>Reviews:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for review in reviews %}
                <div class="reviews" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ review.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ review.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ review.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>

        {% if user.is_authenticated %}

        <h3>Leave a review:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em;">
            {{ review_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% endif %}

    </div>


    {% endblock content %}